@use '../app/base';

.photo {
	position: relative;
	grid-column: span 6;
	aspect-ratio: 1 / 1;
}

.title {
	grid-column: span 12;
	text-align: center;
}

.summary {
	font-size: 1.5rem;
	grid-column: span 12;
	text-align: center;
}

.content {
	grid-column: span 6;
	display: flex;
	align-items: center;

	p {
		font-size: 1.5rem;
	}
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
	.photo {
		grid-column: span 12;
	}

	.title {
		text-align: left;
	}

	.summary {
		text-align: left;
	}

	.content {
		grid-column: span 12;
	}
}
