@use '../../app/base';

.hero {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: calc(base.$gap / 2);
	background-image: url('/hero.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: base.$color-main;
	margin: 0;

	* {
		color: white;
	}

	.titleBlock {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		gap: 0.75rem;
		max-width: 90%;
	}

	h1 {
		font-size: 4rem;
		line-height: 120%;
	}

	h2 {
		font-family: inherit;
		font-size: 2rem;
		line-height: 150%;
		font-weight: 300;
		max-width: 52rem;
	}
}

@media screen and (max-width: 768px) {
	.hero {
		h1 {
			font-size: 2.5rem;
		}

		h2 {
			font-size: 1.25rem;
		}
	}
}
