@use '../../app/base';

.services {
	min-height: 100vh;
	background-image: url('/services-background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-color: base.$color-main;
	display: grid;
	grid-template-columns: repeat(4, 1fr);

	* {
		color: white;
	}
}

.service {
	border-right: 1px solid white;
	display: flex;
	flex-direction: column;
	gap: calc(base.$gap / 2);

	padding-left: base.$gap;
	padding-right: base.$gap;
	padding-bottom: base.$gap;
	padding-top: 40%;
}

.service:hover {
	background-color: rgba($color: base.$color-primary, $alpha: 0.2);
}

@media screen and (max-width: 1024px) {
	.service {
		border-right: 1px solid white;
		border-bottom: 1px solid white;
		grid-column: span 2;
		padding-top: base.$gap;
		justify-content: center;
	}

	.summary {
		display: none;
	}
}

@media screen and (max-width: 768px) {
	.service {
		border-right: none;
		border-bottom: 1px solid white;
		grid-column: span 4;
		justify-content: center;
	}
}
